<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
      "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zblog.core.dal.mapper.SecondHandCategoryMapper">

   <select id="list" resultType="SecondHandCategory">  
      select id, second_hand,second_category from second_hand_category
   </select>
   
   <select id="loadBySecondHand"  resultType="SecondCategory">  
      select id, second_hand,second_category  from second_hand_category where second_hand = #{secondHand}
   </select>
   
   <insert id="insert" parameterType="SecondCategory">
      insert into second_hand_category(id,second_hand,second_category) 
         values(#{id},#{secondHand},#{secondCategory})
   </insert>
  
   <delete id="deleteBySecondHand" parameterType="java.lang.String">
	 delete from second_hand_category where second_hand = #{secondHand}
  </delete>
	
</mapper>